body{
    margin:0;
    overflow:hidden;
    text-align:center;
    display: flex;
}

#stats_container {
    width: 35vw;
    border: solid black 2px;
}

#canvas_container {
    float: right;
    width: 65vw;
    background:darkgray;
    overflow: hidden;
    text-align:center;
    border: solid black 2px;
}

#myCanvas{
    background:lightgray;
    text-align: center;

}

h1 {
    font-family: 'Titan One',cursive;
    font-size: 60px;
}

p {
    font-size: 30px;
    display: inline-block;
}

#velocity {
    width: 70px;
}