/* Animation */

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /*text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



/* shifting text */
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");


#container {
    position: absolute;
    /* top: 100px;
    left: 100px; */
    /* margin: auto; */
    /* width: 50vw; */
    /*height: 80pt; */
    top: 50%;
    left: 25%;
    right: 25%;
    bottom: 50%;

    filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 55pt;

    text-align: center;

    user-select: none;
    top: 0px;
    left: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}